.naveGador {
  background-color: #457b9d;
  border-radius: 13px;
  height: 120px; }

.logo {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  object-fit: initial; }

.mainUbi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 20px; }

.presenTacion {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  width: 250px;
  font-weight: bold; }
  .presenTacion p {
    color: #432818; }
  .presenTacion h2 {
    font-weight: bold; }

.devoLuciones {
  height: 100px;
  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  font-size: 20px; }
  .devoLuciones p {
    font-weight: bold;
    color: #432818; }
  .devoLuciones h2 {
    font-weight: bold; }

.sPam {
  height: 100px;
  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  font-size: 30px;
  color: #432818;
  font-weight: bold; }

.bodyGeneral {
  background-image: url(/imagenes/fonditoindex.jpg);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.cuerPo {
  background-color: #4895ef; }

.pieSito {
  margin-top: auto;
  font-weight: bold;
  color: #480ca8; }
  .pieSito a {
    color: #480ca8; }

.mainContact {
  display: flex;
  justify-content: center; }

.formuLario {
  padding: 20px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 650px;
  width: 450px;
  border: 3px black solid;
  background-color: #a8dadc;
  box-shadow: 5px 5px 5px #f72585;
  transition: background-color .5s;
  font-family: monospace; }

.formuLario:hover {
  background-color: #ffafcc; }

.mainIndex {
  margin-top: 30px;
  margin-bottom: 30px; }

.mainProductos {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 15px;
  justify-content: center; }

.titulo {
  margin-top: 20px; }
  .titulo a {
    text-decoration: none;
    text-align: center; }
    .titulo a h1 {
      font-size: 80px;
      font-family: 'Times New Roman', Times, serif;
      color: #480ca8;
      text-decoration: uppercase;
      font-weight: bold; }
