

.mainIndex{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    h5{
        font-weight: bold;
    }


}
.cardIndex{
    background-color: #2ec4b6;
}

.mainProductos{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 15px;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
